.contents{
    text-align: center;
   margin-top: 10%;
    /* width: 60%; */
    /* border: 3px solid #73AD21; */
    /* padding: 9%; */
    text-decoration: none;
}
.container{
  /* justify-content: center; */
  /* align-content: center; */
  /* margin-top: 10%; */
  padding-top: 10%;
 
 background-color: rgba(140, 159, 159, 0.438);
 height: 50vh;
 width: 50vw;
 border-radius: 20px;
}
